.stars {
  display: inline;
}
.container {
  display: flex;
  justify-content: space-around;
}
.services {
  width: 25%;
}
.reviews {
  width: 25%;
}
.contacts {
  width: 25%;
}

/* Cell phone media queries */
@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
