.facilities-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
}

.welcome-message {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.image-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(156, 153, 153);
  border-radius: 5px;
  padding: 10px;
}

.pitch-machine {
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.6rem;
  width: 80%;
  margin-left: 50px;
  padding: 10px;
}

.batting-tape {
  max-width: 30vw;
  max-height: 30vh;
  background-color: rgb(180, 178, 178);
  border-radius: 5px;
  padding: 10px;
}

.naked-grip-image {
  max-height: 30vh;
  max-width: 30vw;
  border-radius: 5px;
}

.taterballs-image {
  max-height: 30vh;
  max-width: 30vw;
  border-radius: 5px;
}

.message-section {
  display: flex;
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: row;
}

.featured-brands {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.brand-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
  align-items: center;
  padding: 20px;
}

.taterballs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.naked-grips-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.lizard-skin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.taterballs,
.naked-grips,
.lizard-skin {
  display: block;
  text-decoration: none;
  color: rgb(7, 224, 7);
  margin: 5px 0;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  /* background-color: rgb(55, 236, 9); */
  border-radius: 5px;
  padding: 10px;
}

.taterballs:hover,
.naked-grips:hover,
.lizard-skin:hover {
  background-color: #f4f7f4;
  color: #51eb14;
  transform: translateY(-2px);
}

.product-title {
  font-size: 40px;
  margin-bottom: 10px;
  color: #51eb14;
}

.shop-link {
  padding: 20px 30px;
  background-color: #3df006;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 10px;
}

.shop-link:hover {
  background-color: darkgray;
  transform: translateY(-2px);
}

/* Mobile phone media query */
@media screen and (max-width: 450px) {
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 300px;
  }
}

/* Tablet media query */
@media screen and (min-width: 451px) and (max-width: 1024px) {
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Desktop media query */
@media screen and (min-width: 1025px) {
  .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
