.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(3, 12, 3);
  font-size: 1rem;
  font-family: "Arial", sans-serif;
  padding: 10px;
}

.sidebar ul li {
  list-style: none;
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  display: flex;
  gap: 1rem;
}

.sidebar ul li:hover {
  background-color: rgb(246, 247, 250);
  width: 40%;
  border-radius: 10px;
  padding: 7px;
  transition: 0.5s;
}

.close-button {
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.sidebar {
  width: 10%;
  background-color: rgb(36, 223, 11);
  position: fixed;
  left: -250px;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

/* Desktop media queries */
@media screen and (max-width: 1244px) {
}

/* Tablet media queries */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 60%;
    text-align: center;
  }

  .sidebar li {
    margin: 10px auto;
  }
}

/* Cell phone media queries */
@media screen and (max-width: 480px) {
  .sidebar li {
    margin-left: 0;
  }
}
