* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(13, 14, 13);
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  max-height: 40vh;
}

.nav-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  background-color: rgb(36, 223, 11);
  padding: 10px;
  border-radius: 10px;
}

.toggle-button {
  color: rgb(10, 238, 10);
  width: 100%;
  font-size: x-large;
  padding: 5px;
  margin-right: 2rem;
}

.site-title {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  margin: 0;
  justify-content: center;
  padding: 10px;
  font-family: "Arial", sans-serif;
}

.tagline {
  font-size: 2rem;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
}

/* Desktop media queries */
@media screen and (max-width: 1244px) {
}

/* Tablet media queries */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Cell phone media queries */
@media screen and (max-width: 480px) {
  .site-title {
    font-size: 1.5em;
  }

  .tagline {
    font-size: 0.8em;
  }
}
